import React, {Component} from 'react';

class App extends Component {
    render() {
        return (
            <div>
                Hello QSMX!
            </div>
        );
    }
}

export default App;