<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>tab精灵 - 轻松管理您的网站链接</title>
    <meta name="keywords" content="tab精灵,Tab精灵,网站收藏,书签管理,网页收藏夹,在线书签,个人书签库">
    <meta name="description" content="tab精灵可以帮助您轻松管理网站链接,您可以整理和分类所有常用的网站链接,并随时在任何设备上访问它们.我们的服务易于使用、安全可靠,并支持多种设备和浏览器."/>
    <meta name="viewport" content="width=device-width, initial-scale=0.3, shrink-to-fit=no">
</head>
<body class="bg-white text-body font-body">
<div class="main">
    <!--Header-->
    <header class="bg-transparent sticky-bar">
        <div class="container bg-transparent">
            <nav class="bg-transparent flex justify-between items-center py-3">
                <a class="text-3xl font-semibold leading-none" href="">
                    <img style="height: 60px" src="./static/picture/tabelf-logo.png" alt="">
                </a>
                <ul class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12">
                    <li class="pt-4 pb-4">
                        <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="/workspace">个人主页</a>
                    </li>
                    <li class="pt-4 pb-4">
                        <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="/recommend">好站推荐</a>
                    </li>
                    <li class="pt-4 pb-4">
                        <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="/community">分享社区</a>
                    </li>
                    <li class="pt-4 pb-4">
                        <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="/good/article">好文精选</a>
                    </li>
                    <li class="pt-4 pb-4"><a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="/business">联系我们</a></li>
                </ul>
                <div class="hidden lg:block">
                    <a class="btn-primary hover-up-2" href="/login">用户登录</a>
                </div>
            </nav>
        </div>
    </header>

    <!--Hero-->
    <section class="xl:bg-contain bg-top bg-no-repeat -mt-24 pt-24">
        <div class="container px-4 mx-auto">
            <div class="pt-12 text-center">
                <div class="max-w-2xl mx-auto mb-8">
                    <h2 class="text-3xl lg:text-5xl lg:leading-normal mb-4 font-bold font-heading wow animate__animated animate__fadeIn">
                        tab<span class="text-blue-500">精灵</span></h2>
                    <p class="text-blueGray-400 leading-relaxed wow animate__animated animate__fadeIn">可以帮助您轻松管理<strong
                            class="text-blue-500">网站链接</strong><span class="typewrite d-inline text-brand"
                                                                     data-period="3000"
                                                                     data-type='["，带你发现更多有趣内容"]'></span></p>
                </div>
                <div>
                    <a href="/workspace" class="btn-primary py-4 px-8 mr-2 wow animate__animated animate__fadeInUp hover-up-2">免费试用</a>
                    <a class="btn-white wow animate__animated animate__fadeInUp hover-up-2" data-wow-delay=".3s"
                       href="#key-features">了解更多</a>
                </div>
            </div>
        </div>
        <div class="relative max-w-6xl mt-16 md:mt-8 mb-8 mx-auto">
            <img src="./static/picture/pattern.png" alt="">
            <div class="absolute" style="top: 9%; left: 14%; width: 72%; height: 66%">
                <img class="jump rounded wow animate__animated animate__fadeInUp"
                     src="./static/picture/tabelf-dashboard.png" alt="">
            </div>
        </div>
    </section>
    <!--Features-->
    <section class="py-12 md:py-16 lg:py-32 overflow-x-hidden" id="key-features">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap lg:flex-nowrap">
                <div class="w-full lg:w-1/2">
                    <div class="lg:py-6 lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                        <div class="mb-4">
                                <span class="text-xs py-1 px-3 text-blue-500 font-semibold bg-blue-50 rounded-xl wow animate__animated animate__fadeInDown"
                                      data-wow-delay=".9s">产品功能</span>
                            <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                                data-wow-delay=".3s">分享协作</h2>
                        </div>
                        <div class="flex items-start py-4 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                            <div class="w-8 mr-5 text-blue-500">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                                </svg>
                            </div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">分享你的知识与收藏</h3>
                                <p class="text-blueGray-400 leading-loose">我们的支持分享与协作功能。您可以轻松地与好友分享自己的知识与收藏, 一起构建学习项目,
                                    实时协同工作。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0">
                    <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
                        <img class="jump relative mx-auto rounded-xl w-full z-10"
                             src="./static/picture/undraw_Share_link_re_54rx.png" alt="">
                        <img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="./static/picture/blob-tear.svg" alt="">
                        <img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="./static/picture/blob-tear.svg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-12 md:py-16 lg:py-32 overflow-x-hidden" id="key-features2">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap lg:flex-nowrap">
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0">
                    <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
                        <img class="jump relative mx-auto rounded-xl w-full z-10"
                             src="static/picture/undraw_Invite_re_rrcp.png" alt="">
                        <img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="static/picture/blob-tear.svg" alt="">
                        <img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="static/picture/blob-tear.svg"
                             alt="">
                    </div>
                </div>
                <div class="w-full lg:w-1/2" style="padding-left: 10%">
                    <div class="lg:py-6 lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                        <div class="mb-4">
                                <span class="text-xs py-1 px-3 text-blue-500 font-semibold bg-blue-50 rounded-xl wow animate__animated animate__fadeInDown"
                                      data-wow-delay=".9s">产品功能</span>
                            <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                                data-wow-delay=".3s">好站推荐</h2>
                        </div>
                        <div class="flex items-start py-4 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                            <div class="w-8 mr-5 text-blue-500">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                                </svg>
                            </div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">发现更多好站</h3>
                                <p class="text-blueGray-400 leading-loose">我们提供简单易用的好站推荐功能,让您可以发现更多高质量的网站与资源。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-12 md:py-16 lg:py-32 overflow-x-hidden" id="key-features3">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap lg:flex-nowrap">
                <div class="w-full lg:w-1/2">
                    <div class="lg:py-6 lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                        <div class="mb-4">
                                <span class="text-xs py-1 px-3 text-blue-500 font-semibold bg-blue-50 rounded-xl wow animate__animated animate__fadeInDown"
                                      data-wow-delay=".9s">产品功能</span>
                            <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                                data-wow-delay=".3s">分享社区</h2>
                        </div>
                        <div class="flex items-start py-4 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                            <div class="w-8 mr-5 text-blue-500">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                                </svg>
                            </div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">分享、交流、成长</h3>
                                <p class="text-blueGray-400 leading-loose">在我们的社区,您可以发表自己的文章与思考,与更多用户分享知识、经验和生活趣事。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0">
                    <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
                        <img class="jump relative mx-auto rounded-xl w-full z-10"
                             src="static/picture/undraw_Browser_stats_re_j7wy.png" alt="">
                        <img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="static/picture/blob-tear.svg" alt="">
                        <img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="static/picture/blob-tear.svg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-12 md:py-16 lg:py-32 overflow-x-hidden" id="key-features4">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap lg:flex-nowrap">
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0">
                    <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
                        <img class="jump relative mx-auto rounded-xl w-full z-10"
                             src="static/picture/undraw_Responsive_re_e1nn.png" alt="">
                        <img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="static/picture/blob-tear.svg" alt="">
                        <img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="static/picture/blob-tear.svg"
                             alt="">
                    </div>
                </div>
                <div class="w-full lg:w-1/2" style="padding-left: 10%">
                    <div class="lg:py-6 lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                        <div class="mb-4">
                                <span class="text-xs py-1 px-3 text-blue-500 font-semibold bg-blue-50 rounded-xl wow animate__animated animate__fadeInDown"
                                      data-wow-delay=".9s">产品功能</span>
                            <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                                data-wow-delay=".3s">好文精选</h2>
                        </div>
                        <div class="flex items-start py-4 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                            <div class="w-8 mr-5 text-blue-500">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                                </svg>
                            </div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">为您精选的好文</h3>
                                <p class="text-blueGray-400 leading-loose">
                                    我们定期精选网络上优质的文章与资源,提供热门好文推荐,方便您获取高质量的信息与知识。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-20">
        <div class="container px-4 mx-auto wow animate__animated animate__fadeIn" data-wow-delay=".3s">
            <div class="flex flex-wrap mb-12 lg:mb-20 -mx-3 text-center lg:text-left">
                <div class="w-full lg:w-2/5 px-3 mb-8 lg:mb-0">
                    <p class="max-w-md mx-auto lg:max-w-full lg:mx-0 lg:pr-32 lg:text-lg text-blueGray-400 leading-relaxed">
                        帮助您轻松 <strong>管理</strong> 网站链接，带您发现更多有趣内容</p>
                </div>
                <div class="w-full lg:w-1/5 px-3 mb-8 lg:mb-0">
                    <p class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800">关于我们</p>
                    <p>
                        <a href="/update/log" style="font-size: 14px" class="text-blueGray-400">更新日志</a>
                    </p>
                    <p>
                        <a href="/disclaimer" style="font-size: 14px" class="text-blueGray-400">免责声明与条款</a>
                    </p>
                </div>
                <div class="w-full lg:w-1/5 px-3">
                    <p class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800">联系我们</p>
                    <p>
                        <a href="/business" style="font-size: 14px" class="text-blueGray-400">商务合作</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row items-center lg:justify-between">
                <p class="text-sm text-blueGray-400">tab精灵 Copyright &copy; 2022-2023. <a target="_blank" href="https://beian.miit.gov.cn">豫ICP备案号2023002238</a>
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
